*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    position: relative;
    height: 100%;
    /* color: aqua; */
    border: 2px solid blue;
    background-image: linear-gradient( 107.1deg,  rgba(111,63,255,1) 11.1%, rgba(21,192,229,1) 54.8%, rgba(255,229,189,1) 82.9% );
    
}
.box{
    border: 2px solid;
    height: 400px;
    width: 400px;
    margin: 10rem auto ;
    position: relative;
    overflow: hidden;
    box-shadow: 7px 10px 20px 0px blueviolet;
    border-radius: 50px;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute ;
}

.box .inside-box{
    /* border: 2px solid red; */
    height: 400px;
    width: 400px; 
    transition: 1s;
    /* color: ; */
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
}
.box .box1{
    position: absolute;
    left: 400px;
}
.box .box2{
    position: absolute;
    left:-400px;
}
.box:hover .box1{
    position: absolute;
    left: 200px;
}
/* .box .inside-box2{
    border: 2px solid red;
    height: 400px;
    width: 200px;
    position: absolute;
    left:400px;
    transition: 1s;
    /* color: ; */
    /* background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
} */ 
.box:hover .box2{
    position: absolute;
    left: -200px; */
}
.roll{
    border: 2px solid;
    height: 400px;
    width: 400px;
    margin: 10rem auto ;
    position: relative;
    /* overflow: hidden; */
    /* box-shadow: 7px 10px 20px 0px blueviolet; */
    border-radius: 50%;
    /* background: blue; */
    background-image: url(./img/archer\ board.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.roll .inside-roll{
    /* border: 2px solid red; */
    background: red;
    height: 400px;
    width: 400px; 
    clip-path: polygon(0 49%, 60% 49%, 62% 39%, 100% 50%, 61% 66%, 61% 56%, 0 56%);    transition: 2s;
    position: absolute;
    /* background-image: url(./img/bow.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    right: 400px;
    /* color: ; */
    /* background: rgba(255, 255, 255, 0); */
    /* backdrop-filter: blur(2px); */
}
.roll:hover .inside-roll{
    position: absolute;
    right: 200px;
} 
.poly{
    border: 2px solid;
    height: 400px;
    width: 400px;
    margin: 10rem auto ;
    position: relative;
    overflow: hidden;
    box-shadow: 7px 10px 20px 0px blueviolet;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    /* border-radius: 50px; */
    background-image: url(./img/poly.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.poly .inside-poly{
    /* border: 2px solid red; */
    height: 400px;
    width: 400px; 
    transition: 1s;
    /* color: ; */
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
}
.poly .poly1{
    position: absolute;
    left: 400px;
}
.poly .poly2{
    position: absolute;
    left:-400px;
}
.poly:hover .poly1{
    position: absolute;
    left: 200px;
}
.poly:hover .poly2{
    position: absolute;
    left: -200px; */
}