*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}
.container{
    border: 2px solid black;
    height: 100vh;
    position: relative;
}
.face{
    border: 2px solid blue  ;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute ;
    left: 50%;
    right: 50%;
    transform: translate(-50%,20%);
    
}
.face .left-eye{
        /* border: 2px solid blue  ; */
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute ;
    left: 25%;
    right: 75%;
    /* transform: translate(0px,75px); */
    top: 32%;
    background-color: black;
}
.face .right-eye{
        /* border: 2px solid blue  ; */
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute ;
    left: 75%;
    right: 25%;
    top: 32%;
    /* transform: translate(0px,75px); */
    background-color: black;
}
.face .nose{
        /* border: 2px solid blue  ; */
    height: 20px;
    width: 20px;
    border-radius: 0% 100% 45% 55% / 0% 0% 100% 100%;
    position: absolute ;
    left: 50%;
    right: 50%;
    top: 50%;
    background-color: black;
}
.face .ears-left{
    border-left: 2px solid blue  ;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute ;
    left: 0;
    /* z-index: -1; */
    /* right: 50%; */
    /* transform: translate(0px,75px); */
    /* top: 32%; */
    /* background-color: black; */
}

.face .ears-right{
     border-right: 2px solid rgb(64, 0, 255)  ;
    height: 70px;
    width: 70px;
    border-radius: 50%
    position: absolute;
    right: 0;
}
.bodys{

    border: 2px solid rgb(255, 0, 0)  ;
    height: 250px;
    width: 250px;
    clip-path: ellipse(36% 45% at 50% 50%);
    position: absolute ;
    left: 50%;
    right: 50%;
    top: 90%;
    /* transform: translate(-50%,20%); */
}